h1{
    color: red;
    

}

body {
    background-image: url(./sky.jpg);
    background-size: cover;   
    overflow: hidden; 
}


.road {
    background-image: url(./road.jpg);
    position: absolute;
    width: 500%;
    height: 200px;
    bottom: 0px;
    animation: road 2s infinite normal linear;

}

@keyframes road {
    100% {
        transform: translateX(-1000px);
    }
}

.city {
    background-image: url(./city.png);
    position: absolute;
    bottom: 200px;
    width: 500%;
    height: 250px;
    animation: city 5s infinite normal linear;
    -o-animation-duration: 6;
}
@keyframes city{
    100% {
        transform: translateX(-1000px);
}
}
.car {
    background-image: url(./thar.png);
    position: absolute;
    height: 300px;
    width: 400px;
    bottom: 50px;
    animation: aero 5s linear infinite ;
}

@keyframes car {
    0%{
        transform: translate(-200px,0px);
    }
    /* 30%{
        transform: translate(200px,10px);
    } */
    100%{
        transform: translate(1500px,0px)
       
    }
}
.tyre{
    background-image: url(./twheel.png);
    background-size: cover;
    height: 107px;
    width: 107px;
    margin-top: 524px;
    margin-left: 6%;
    position: relative;
    animation: tyre 1s linear infinite;
}
@keyframes tyre{
  100%{
    transform: rotate(360deg);
  }
}